.topSpace{
    height: 5vh;
}
nav{
    /* position:fixed; */
    width: 100%;
    top: 0;
    left: 0;
    /* z-index:100 ; */
    background-color: white;
    border-bottom: 1px solid rgb(233, 233, 233);
    /* testll */
  

}

nav>ul>li:nth-of-type(1){
    width: 18%;

}
nav>ul>li{
    list-style: none;
    /* border: 1px solid red; */
    /* background-color: yellow; */
    
} 
 nav>ul{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    padding: 0% 1% 0% 10%;
}

nav>ul>li>div>img{
    height: 25px;
    width:90%;
    padding: 10px;
}

nav>ul>li:nth-child(2), nav>ul>li:nth-child(6){
    /* background-color: yellow; */
    margin: 0% 1% 0% 16%;
    
}
nav>ul>li:nth-of-type(3), nav>ul>li:nth-of-type(4), nav>ul>li:nth-of-type(5), nav>ul>li:nth-of-type(7){
    margin: 0% 1%;
}

nav>ul>li>a, .dropdown>a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 800;
    font-family: 'Nunito Sans', sans-serif;
}
nav>ul>li a:hover{
    color: blue;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}
.dropdown-content a:hover {
    color:blue;
}
.dropdown:hover .dropdown-content {
    display: block;
}

nav>ul>li:last-of-type>a{
    background-color: rgb(78, 78, 233);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
nav>ul>li:last-of-type>a:hover{
    background-color: darkblue;
}