.topSpace{
    height: 5vh;
}
nav{
    /* position:fixed; */
    width: 100%;
    top: 0;
    left: 0;
    /* z-index:100 ; */
    background-color: white;
    border-bottom: 1px solid rgb(206, 204, 204);
  

}

nav>ul>li:nth-of-type(1){
    width: 18%;

}
nav>ul>li{
    list-style: none;
    /* border: 1px solid red; */
    /* background-color: yellow; */
    
} 
 nav>ul{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    padding: 0% 1% 0% 10%;
}

nav>ul>li>div>img{
    height: 25px;
    width:90%;
    padding: 10px;
}

nav>ul>li:nth-child(2), nav>ul>li:nth-child(6){
    /* background-color: yellow; */
    margin: 0% 1% 0% 16%;
    
}
nav>ul>li:nth-of-type(3), nav>ul>li:nth-of-type(4), nav>ul>li:nth-of-type(5), nav>ul>li:nth-of-type(7){
    margin: 0% 1%;
}

nav>ul>li>a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 800;
    font-family: 'Nunito Sans', sans-serif;
}

nav>ul>li:last-of-type>a{
    background-color: rgb(78, 78, 233);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}