nav{
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index:100 ;
    background-color: white;
    border-bottom: 1px solid rgb(206, 204, 204);
}
nav>ul>li:nth-of-type(n+2)>a{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold ;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
}
nav>ul>li:nth-of-type(2)>a{
    color: blue;
}

/* #dummy{
    height: 20vh;
} */
#exploreStories, #build, #present, #analyse, #lastSection{
    display: flex;
    height: 75vh;
    align-items: center;
    background-color: rgb(233, 233, 233);
    /* border: 1px solid red; */
}
#analyse{
    height: 50vh;
}
section:first-of-type{
    /* background-color: pink; */
    /* height: 100vh; */
    width: fit-content;
    text-align: center;
    margin: 0px auto;
    font-family: 'Nunito Sans', sans-serif;
    
}
#top1{
    margin-bottom: 5%;
    margin-top: 10%;
}
section:first-of-type>h1{
    font-size: 50px;
    font-weight: bolder;
    line-height: 1;
    margin-bottom: 0%;
}
section:first-of-type>p:nth-of-type(1){
    font-size: 18px;
    font-weight: lighter;
}

#exploreStories>img{
    margin:0% 5% 0% 10%;
    padding: 1%;
    /* border: 1px solid black; */
    height: 500px;
    width: 40%;
}
#exploreStories>div>p:nth-of-type(1){
    font-size: 30px;
    text-align: center;
    line-height: 45px;
    font-weight: 500;
    font-family: 'Nunito Sans', sans-serif;
    margin:0% 2% 0% 0%;
    margin-top: -10%;
    /* border: 1px solid black; */
    width:100%;
}
#exploreStories>div>p:nth-of-type(2){
    color: blue;
    font-size: 20px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    width:100%;
}
#exploreStories>div>button{
    border: none;
    border: 2px solid blue;
    color: blue;
    background-color: rgb(233, 233, 233);
    margin: 3% 0% 5% 30%;
    padding: 1%;
    font-size: 20px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    /* width:100%; */
}
#build, #present, #analyse{
    background-color: white;
}

#build>img, #present>img, #analyse>img{
    margin:0% 5% 0% 15%;
    padding: 1%;
    height: 300px;
    width: 35%;
}
#build>div>p, #present>div>p, #analyse>div>p{
    font-size: 45px;
    margin-top: -10%;
    margin-left: 3%;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* letter-spacing: 0.03cm; */
}
#build>div>div>li, #present>div>div>li, #analyse>div>div>li{
    margin-left: 0%;
    font-size: 22px;
    line-height: 70px;
    color: gray;
    list-style: disc;
}
#present>div>p {
    margin-top: -35%;
}
#present>div>p, #present>div>div>li{
    font-family: sans-serif;
    margin-left: 35%;
    width: 100%;
}
#present>div>div>li{
    margin-left: 32%;
}
#present>img {
    margin-top: -15%;
}
#analyse>div>p{
    margin-top: -30%;
}
#analyse>img{
    margin-top: -12%;
    width: 40%;
    margin-left: 9%;
}
#analyse>div>div>li{
    line-height: 50px;

}


#lastSection>p{
    font-size: 45px;
    text-align: center;
    font-family: sans-serif;
    margin-top: -20%;
    margin-left: 36%;
    font-weight: 600;
    /* border: 1px solid black; */

}

#lastSection>div:nth-of-type(1){
    margin-left: -58%;
    margin-top: 7%;
    margin-bottom: 0%;
    /* border: 1px solid black; */

}
#lastSection>div:nth-of-type(n+2){
    margin-top: 7%;
    margin-left: 5%;

}

#lastSection>div>img{
    height: 200px;
    width: 60%;
    text-align: center;
    /* border: 1px solid black; */
    margin-left: 20%;

}
#lastSection>div>p{
    text-align: center;
}
#lastSection>div>p:nth-of-type(1){
    font-size: 25px;
    font-family: sans-serif;
    margin-top: -2%;
}
#lastSection>div>p:nth-of-type(2){
    font-size: 18px;
    font-family: sans-serif;
}
#lastSection>div>p:nth-of-type(3){
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
    color: blue;
}
#lastSection>div>p:nth-of-type(3):hover{
    color: darkblue;
}
#bottum-section{
    background-color: rgb(236, 237, 239);
    overflow: hidden;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 32px;
    padding-top: 32px;
    align-items: center;
    -webkit-box-align: center;
    width: 1270px;
    position: relative;
    min-height: 0px;
    flex: none;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    width: 100%;
}
#bottum-section>h2{
    font-size: 40px;
    margin-bottom: 8px;
    color: #101834;
    font-family: "MentiDisplay";
    line-height: 1;
    font-weight: 700;
    max-width: 100%;
    display: block;
    text-align: center;
}
#bottum-gif{
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
    /* width: 100%; */
    flex-basis: 100%;
    position: relative;
    min-height: 0px;
    min-width: 0px;
    flex: none;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;

    /* flex-direction: column; */
    /* -webkit-box-orient: vertical; */
}
#bottum-div{
    /* position: relative; */
    /* display: flex; */
    width: 60%;
    height: 100%;
    margin: 5% 10%;
    font-family: sans-serif;
    font-size: 20px;
    
    /* align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    -webkit-box-pack: center; */
    /* flex: none; */
    /* flex-direction: column; */
    /* -webkit-box-orient: vertical; */
    /* -webkit-box-direction: normal; */
}
#bottum-div>ul{
    position: relative;
    width: 50%;
    align-items: flex-start;
    -webkit-box-align: start;
    flex: none;
    list-style-type: disc;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: flex;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
#bottum-site,#bottum-site-1,#bottum-site-2{
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    -webkit-box-align: start;
    flex: none;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
#bottum-site>div>img,#bottum-site-1>div>img,#bottum-site-2>div>img{
    background-color: #00DB91;
    height: 10px;
    width: 10px;
    display: flex;
    position: absolute;
    top: 6px;
    left: -20px;
    align-items: flex-start;
    -webkit-box-align: start;
    flex: none;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
#bottum-site>span,#bottum-site-1>span,#bottum-site-2>span{
    /* padding-left: 0px; */
    color: #101834;
    padding-bottom: 32px;
    line-height: 1.4;
    font-size: 20px;
    font-family: "MentiText";
    width: 100%;
    padding-right: 50%;
    /* border: 1px solid red; */
    /* flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal; */
}
#bottum-img{
    /* display: flex; */
    margin-bottom: 32px;
    width: 50%;
    margin-left: -40%;
    margin-top: 2%;
    /* align-items: center; */
    /* -webkit-box-align: center;
    justify-content: center;
    -webkit-box-pack: center; */
    /* min-height: 0px;
    position: relative;
    min-width: 0px; */
    /* flex: none;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal; */

}
#dummy-1>h2{
    display: flex;
    font-size: 40px;
    font-weight: 700;
    max-width: 100%;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
#dummy-1>p{
    color: rgba(16, 24, 52, 0.75);
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
    font-family: MentiText;
    max-width:100% ;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
#dummy-2{
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    max-width: 1200px;
    align-items: center;
    -webkit-box-align: center;
    min-height: 0px;
    position: relative;
    width: 100%;
    min-width: 0px;
    flex: none;
}
#dummy-2-1{
    margin-right: 32px;
    flex: 1 1 auto;
    width: 100%;
    position: relative;
    /* margin-left: 10px; */
    height: 500px;
    margin-top: 100px;
    min-height: 0px;
    min-width: 0px;
    align-items: flex-start;
    -webkit-box-align: start;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
#dummy-2-1>div{
    border-width: 20px;
    border-radius: 20px;
    flex: 1 1 auto;
    overflow: hidden;
    background-color: #ffffff;
    border-color: rgb(236, 237, 239);
    border-style: solid;
    width: 90%;
    /* height: 300px; */
    height: 400px;
    position: relative;
    min-height: 0px;
    min-width: 0px;
    align-items: flex-start;
    -webkit-box-align: start;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
#dummy-2-1>div>div{
    display: block;
    width: 100%;
    position: relative;
    height: 100%;
    min-height: 0px;
    min-width: 0px;
    align-items: flex-start;
    -webkit-box-align: start;
    flex: none;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
#dummy-2-1>div>div>div{
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    min-height: 0px;
    min-width: 0px;
    align-items: flex-start;
    -webkit-box-align: start;
    width: auto;
    flex: none;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
#dummy-2-2{
    width: 300px;
    position: relative;
    height: 500px;
    min-height: 0px;
    margin-right: 300px;
    min-width: 0px;
    align-items: flex-start;
    -webkit-box-align: start;
    flex: none;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    margin-bottom: 10%;
}
#dummy-2-2-1{
    display: flex;
    border-radius: 50px;
    width: 340px;
    height: 100%;
    border-width: 20px;
    background-color: rgb(236, 237, 239);
    overflow: hidden;
    height: 100%;
    border-color: rgb(236, 237, 239);
    border-style: solid;
    position: relative;
    min-height: 0px;    
    min-width: 0px;
    align-items: flex-start;
    -webkit-box-align: start;
    flex: none;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
#dummy-2-2-1>div{
    border-radius: 20px;
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 0px;
    min-width: 0px;
    align-items: flex-start;
    -webkit-box-align: start;
    flex: none;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
#dummy-2-2-1>div>div{
    display: flex;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0;
    position: absolute;
    min-height: 0px;
    height: 100%;
    min-width: 0px;
    align-items: flex-start;
    -webkit-box-align: start;
    width: auto;
    flex: none;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
