#logPage{
    display: grid;
    /* border: 1px solid red;  */
    /* background-color: yellow; */
    text-align: center;
    grid-template-columns: auto;
    grid-auto-rows: 50px;
    grid-template-areas: "a"
                         "a"
                         "b"
                         "b"
                         "b"
                         "c"
                         "d"; 

}

#id1{
    grid-area: a;
    width: fit-content;
    margin:3% auto;
    /* background-color: yellow; */
}
#id1>img{
     width: 50%;
    height: 35px;

}
#id2{
    grid-area: b;
    font-size: 35px;
    font-family:'Poppins', sans-serif; 
    font-weight: bold;
}

#id3, #id4{
    display: flex;
    justify-content: center;
    grid-area: c;
    font-size: 15px;
    font-family: sans-serif;
    width: 30%;
    height: 45px;
    background-color: rgba(20, 16, 243, 0.733);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin: auto;
    border: 1px solid blue;
}
#id3:hover{
    background-color: darkblue;
}
#id3>img, #id4>img{
    width:20px;
    height: 20px;
    margin-top: 2%;
    margin-right: 2%;
}
#id3>img{
    width: 30px;
}
#id3>p, #id4>p{
    margin-top: 2%;
}
#id4{
    grid-area: d;
    background-color: white;
    color: black;
    border: 1px solid gray;
}
#id4:hover{
    background-color: gray;
}
#id5{
    
    /* background-color: blue; */
    margin: 1% auto;
    color: gray;
    width: fit-content;

}
.detail{
    display: grid;
    text-align: left;
    grid-template-columns: auto;
    grid-auto-rows: 40px;
    /* background-color: pink; */
    width: 30%;
    margin: 2% auto;
}
.detail>label{
    font-size: 15px;
    font-weight: bold;
    font-family:'Poppins', sans-serif; 
}
.detail>input{
    border-radius: 3px;
    border: 1px solid gray;
}
.detail>label:nth-of-type(1), .detail>label:nth-of-type(2), .detail>label:nth-of-type(3){
    padding-top: 3%;
}
.detail>p:nth-of-type(1){
    margin-top: -0.5%;
    color: gray;
}
.detail>input:nth-of-type(4){
    background-color: rgb(33, 33, 248);
    margin-top: 1rem;
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding: 2%;
    padding-bottom: 5%;
}

.terms{
    text-align: center;
    font-family: sans-serif;
    margin-top: -2%;
}

.terms>div:nth-of-type(1),.terms>div:nth-of-type(2){
    display: flex;
    justify-content: center;
  

}
.terms>div:nth-of-type(1)>p:nth-of-type(1), .terms>div:nth-of-type(1)>p:nth-of-type(3), .terms>div:nth-of-type(2)>p:nth-of-type(1){
    font-size: 15px;
    margin-left:0.5%;

}
.terms>div:nth-of-type(1)>p:nth-of-type(2), .terms>div:nth-of-type(1)>p:nth-of-type(4), .terms>div:nth-of-type(2)>p:nth-of-type(2){
    font-size: 15px;
    color: blue;
    text-decoration: underline blue;
    margin-left:0.5%;
}
.terms>p{
    color: blue;
    font-weight: bold;
    font-size: 14px;
    margin-top: 0%;
}

