nav>div:nth-of-type(1){
    background-color: rgb(204, 198, 198);
}
nav>div:nth-of-type(1)>ul{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    padding: 1%;
}
nav>div:nth-of-type(1)>ul>li{
    list-style: none;
}
nav>div:nth-of-type(1)>ul>li:nth-of-type(1){
    margin: 0% 1% 0% 22%;
    flex-grow: 0.55;
}
nav>div:nth-of-type(1)>ul>li:nth-of-type(1)>input{
    border: 1px solid gray;
    width: 100%;
    height:20px;
    padding: 0.5%;
    
}
nav>div:nth-of-type(1) button{     
    background-color: rgb(78, 78, 233);
    color: white;
    font-weight: bold;
    height: 30px;
    width: 55px;
    padding: 5px;  
}


section:first-of-type{
    /* background-color: pink; */
    /* height: 100vh; */
    width: fit-content;
    text-align: center;
    margin: 0px auto;
    font-family: 'Nunito Sans', sans-serif;
    
}
section:first-of-type>h1{
    font-size: 50px;
    font-weight: bolder;
    line-height: 1;
    margin-bottom: 0%;
}
section:first-of-type>p:nth-of-type(1){
    font-size: 18px;
    font-weight: lighter;
}
section:first-of-type>div{
    background-color: rgb(78, 78, 233);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: fit-content;
    margin: 30px auto 0px;
    text-decoration: none;
}
section:first-of-type>div>a{
    color: white;
    font-weight: bold;
    font-size: 20px;
    /* margin: 10px auto; */
    text-decoration: none;
}
section:first-of-type>p:nth-of-type(2){
    font-size: 14px;
    font-weight: lighter;
}
/* section:nth-of-type(2){
    display: flex;
    align-items: center;
} */

section:nth-of-type(2){
    background-image: url("https://static.mentimeter.com/content-web/prod/_next/static/images/graphic-elements-80a20296700ff9238bbdd10f5fad37c5.png");
    height: 337px;
    width: 75%;
    /* border: 1px solid black;  */
    background-size: 1200px;
    margin: 10% 10%;
    position: absolute;
    top:80%;
    left: 0;   
}


section:nth-of-type(2)>iframe{
    position: relative;
    top: -20%;
    left:23%;

}
section:nth-of-type(4){
    margin-top:350px ;
}
/* testing part */
#bottum-box{
    position: relative;
    text-align: center;
    margin-top: 600px;
}
#bottum-box>div>div>h1{
    position: relative;
    font-size: 70px;
    float: left;
    text-decoration: underline;
}
#bottum-box>div>div>p{
    font-size: 20px;
    margin: 0;
}
#bottum-box>h2{
    position: relative;
    font-size: 62px;
}
#bottum-box>div>div{
    float: left;
    margin-left: 200px;
}
#bottum-inner{
    margin-left:100px ;
}