nav>div:nth-of-type(1){
    background-color: rgb(204, 198, 198);
    padding: 10px; 
    width: 100%; 
}
/* nav>div:nth-of-type(1)>ul{
    display: flex;
    align-items: center; */
    /* border: 1px solid black; */
    /* padding: 1%;
} */
/* nav>div:nth-of-type(1)>ul>li{
    list-style: none;
} */
/* nav>div:nth-of-type(1)>ul>li:nth-of-type(1){
    margin: 0% 1% 0% 22%;
    flex-grow: 0.55;
} */
/* nav>div:nth-of-type(1)>ul>li:nth-of-type(1)>input{
    border: 1px solid gray;
    width: 100%;
    height:20px;
    padding: 0.5%;
    
} */
nav>div:nth-of-type(1) input{
    margin: 0% 1% 0% 30%;
    width: 40%;
    height: 20px;

}
nav>div:nth-of-type(1)>form>button{     
    background-color: rgb(78, 78, 233);
    color: white;
    font-weight: bold;
    height: 30px;
    width: 55px;
    padding: 5px;  
}

#buttonPink{
    display: flex;
    align-items: center;
    background-color: rgb(245, 122, 153);
    width: 98.5%;
    font-size: 20px;
    padding: 20px;
    border-style:none;
    font-family: sans-serif;
} 
#buttonPink>p{
    margin: 0% 5% 0% 35%;
    /* font-weight: bold; */

} 

#learnMoreBox, #cross{
    border: 2px solid black;
    padding: 0.5%;
    margin: 0% 10% 0% 1%;
    font-size: 15px;
    border-radius: 3px ;
    background-color: rgb(245, 122, 153);
    font-weight: bold;

}

#cross{
    padding: 0.5%;
    font-size: 20px;
    font-weight: bold;
    border-style: none;
    text-align: left;

}


section:first-of-type{
    /* background-color: pink; */
    /* height: 100vh; */
    width: fit-content;
    text-align: center;
    margin: 0px auto;
    font-family: 'Nunito Sans', sans-serif;
    
}
section:first-of-type>h1{
    font-size: 50px;
    font-weight: bolder;
    line-height: 1;
    margin-bottom: 0%;
}
section:first-of-type>p:nth-of-type(1){
    font-size: 18px;
    font-weight: lighter;
}
section:first-of-type>div{
    background-color: rgb(78, 78, 233);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: fit-content;
    margin: 30px auto 0px;
    text-decoration: none;
}
section:first-of-type>div>a{
    color: white;
    font-weight: bold;
    font-size: 20px;
    /* margin: 10px auto; */
    text-decoration: none;
}
section:first-of-type>p:nth-of-type(2){
    font-size: 14px;
    font-weight: lighter;
}
/* section:nth-of-type(2){
    display: flex;
    align-items: center;
} */

section:nth-of-type(2){
    background-image: url("https://static.mentimeter.com/content-web/prod/_next/static/images/graphic-elements-80a20296700ff9238bbdd10f5fad37c5.png");
    height: 337px;
    width: 100%;
    background-repeat: no-repeat ;
    /* border: 1px solid black;  */
    background-size: 1200px;
    margin: 5% 10%;
    position: absolute;
    top:80%;
    left: 0;   
}


section:nth-of-type(2)>iframe{
    position: relative;
    top: -20%;
    left:18%;

}


section:nth-of-type(3){
    /* background-color: rgb(226, 156, 156); */
    height: 50vh;
    width: 100%;
}

section:nth-of-type(4){
    background-color: rgb(233, 233, 233);
    height: 100vh;
    width: 100%;
    margin-top: 6%; 
}
section:nth-of-type(4)>p{
    color: rgb(47, 47, 241);
    padding:3%;
    padding-bottom: 0;
    font-size: 46px;
    font-weight: bold;
    font-family:'Poppins', sans-serif; 
    margin-left: 32%;
    
}

section:nth-of-type(4)>div:nth-of-type(1){
    display: flex;
    align-items: center;
    margin: 0% 5%;
    /* border: 1px solid black; */
   
}

section:nth-of-type(4)>div:nth-of-type(1) div {
    width: 100%;
    /* border: 1px solid blue; */
    margin:0px 40px;   
}
section:nth-of-type(4)>div:nth-of-type(1) div img{
    height:200px;
}
section:nth-of-type(4)>div:nth-of-type(1) div p:nth-of-type(1){
    font-size: 25px;
    font-family:'Poppins', sans-serif; 
    text-align: center;
    font-weight: 500;

}
section:nth-of-type(4)>div:nth-of-type(1) div p:nth-of-type(2){
    text-align: center;
    font-family:'Poppins', sans-serif; 
    font-size: 14px;

}

section:nth-of-type(4)>button{
    border: 2px solid blue;
    border-radius:3px ;
    color: blue;
    background-color: rgb(233, 233, 233);
    font-size: large;
    margin: 5%;
    padding: 0.5%;
    margin-left: 45.5%;
    font-family:'Poppins', sans-serif; 

}
section:nth-of-type(4)>button:hover{
    background-color: blue;
    color: white;
}

